<!DOCTYPE html>
<html>
<head>
  <title>sandbox</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= tag :meta, name: "viewport", content: "width=device-width, initial-scale=1.0" %>
</head>
<body>
  <%= render 'layouts/header' %>
<<<<<<< HEAD
  <div class="container">
<%= yield %>
  <%= render 'layouts/footer' %>
=======

	<div class="container">
<%= yield %>

    <%= render 'layouts/footer' %>
</div>
>>>>>>> rails4

</body>
</html>
